.weather-container {
  width: 45%;
  height: 125px;
  background: linear-gradient(170deg, #0b66e6d7, #406eda, #1630c2d7);
  border-radius: 12px;
  margin: auto;
  box-shadow: var(--container-box-shadow);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.weather-container:hover {
  opacity: 1;
  scale: 1.01;
}

.weather-container > img:hover {
  overflow: visible;
}

.weather {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  overflow: hidden;
}

.weather h2 {
  margin: 0 auto;
  color: white;
  font-size: 20px;
  position: relative;
}

.weather-icon {
  width: 50%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.weather-icon img {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}

.weather-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.weather-info h2,
.weather-info2 h2 {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  position: relative;
}

.weather-info p,
.weather-info2 p {
  margin: 0 auto;
  color: white;
  font-size: 18px;
}

.weather-info2 p {
  color: navy;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.temp2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.temp p {
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.temp2 p {
  margin: 0 auto;
  color: white;
  font-size: 50px;
}

.weather-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(45deg, #0b3e86d7, #5e94cd, #1630c2d7);

  margin: auto;
  padding: none;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: var(--container-box-shadow);
  width: 100%;
}

.weather-page h1 {
  color: rgb(23, 10, 141);
  font-size: 30px;
  margin: 10px auto;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  border-radius: 12px;
  background-color: rgba(122, 180, 216, 0.5);
  box-shadow: var(--container-box-shadow);
}

.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
}

.btn-wsearch {
  padding: 0;
  color: white;
  background: none;
  font-size: 30px;
}

.btn-wsearch:hover {
  color: gray;
  outline: none;
}

.btn-wsearch:focus {
  outline: none;
}

.weather-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  color: navy;
  width: 90%;
}

.weather-info2 p {
  margin: 0 auto;
  color: navy;
  font-size: 18px;
}

.weather-info2 input {
  margin: auto;
  padding: 5px;

  background: rgba(255, 255, 255, 0.417);
  width: 70%;
  text-align: center;
  font-size: 32px;
  color: navy;
  border: 1px solid navy;
  border-radius: 5px;
}

.weather-info3 img {
  width: 120px;
  height: 120px;
  margin: -25px auto;
}
